*{
  text-align: center;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 17px;


}

.topnav a:hover {
    color: skyblue;

}

.topnav h1 {
    margin: auto;
    padding: 10px;
    margin-right: 700px;
    text-align: center;
    color: black;
}
 
#all{
    background-image: url(../assets/images/backg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px; 
    
}

.intro{
    text-align: center;
    margin-top: 300px;
    font-style: italic;
  
}
.intro button{
    padding: 20px;
    border-radius: 20px;
    color:whitesmoke;
    font-weight: bold;
    background-color: blue;
}

.about{
    margin-left: 20px;
}

#services{
  background-image: url(../assets/images/worship3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin: 40px 0 0 0;
  font-size: x-large;
  color:whitesmoke
}

#events {
    box-sizing: border-box;
    margin-left: 20px;
  
  }
  
  /* Float four columns side by side */
  .column{
    float: left;
    width: 20%;
    padding: 20px 10px;
    margin-top: 50px;
    
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 0 30px 200px 20px;
      background-color: whitesmoke;
      text-align: center;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .row ul li{
    list-style: none;
    
  }
 .row a :hover{
   color: red;
 }

 